* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #a3d1d1;
  width: 100%;
}

header {
  text-align: center;
  margin: 2.5rem;
  font-size: 5em;
  font-weight: 700;
}

section.btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  margin: 5rem 10rem;

  button {
    width: 10rem;
    height: 5rem;
    border-radius: 10px;
    font-size: 2.5rem;
    cursor: pointer;
  }
}

div.roundWinner {
  text-align: center;
  padding: 5rem 10rem;
  font-size: 2.5rem;
}

div.finalWinner {
  text-align: center;
  padding: 5rem 10rem;
  font-size: 2.5rem;
}

div.score {
  display: flex;
  gap: 2.5rem;
}
